" :actionlist in intellij to get a list of all actions

set relativenumber
set number
set visualbell
set noerrorbells
set scrolloff=10

let mapleader=" "

nnoremap <leader>k :action ManageRecentProjects<cr>
nnoremap <leader>sf :action GotoFile<cr>
nnoremap <leader>mr :action Maven.Reimport<cr>

nnoremap <leader>vv :e ~/.ideavimrc<cr>
nnoremap <leader>vr :source ~/.ideavimrc<cr>
